/*   侧       notification-bar.css  */


*, *::before, *::after {
    box-sizing: border-box;
}
body {
  transition: all 0.3s ease 0s !important;
}
.ht-n-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.ht-n-container::before {
    content: "";
    display: table;
    clear: both;
}
a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
button {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
/* -----------------------------------
  02. Notification Section
--------------------------------------*/
.ht-notification-section {
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    transition: all 0.5s ease 0s;
    z-index: 999999999999 !important;
    opacity: 1 !important;
    text-shadow: none;
}

.admin-bar .ht-n-top.ht-notification-section{
    z-index: 11111 !important;
}

.ht-notification-section:hover {
    opacity: 1;
}
.ht-notification-section::before {
    background-color: #2d3e50;
    content: "";
    height: 100%;
    left: 0;
    /*opacity: 0.7;*/
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

/*-- Notification Position --*/
.ht-notification-section.ht-n-top {
    left: 0;
    top: 0;
    width: 100%;
    bottom: auto;
}
.admin-bar .ht-notification-section.ht-n-top{
    top: 32px;
}
.ht-notification-section.ht-n-bottom {
    left: 0;
    bottom: 0;
    top: auto;
    width: 100%;
}
.ht-notification-section.ht-n-left {
    left: 0;
    right: auto;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
}
.ht-notification-section.ht-n-right {
    right: 0;
    left: auto;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
}
.ht-notification-section.ht-n-left.ht-n-close {
    left: -300px;
}
.ht-notification-section.ht-n-right.ht-n-close {
    right: -300px;
}

/*-- Notification Wrap --*/
.ht-notification-wrap {
    width: 100%;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
}
.ht-n-left .ht-notification-wrap,
.ht-n-right .ht-notification-wrap {
    padding: 30px 0 10px;
}

.ht-n-top .ht-notification-wrap,
.ht-n-bottom .ht-notification-wrap {
    padding: 10px 30px 10px 10px;
}

.ht-n-top.ht-n-full-width .ht-notification-wrap,
.ht-n-bottom.ht-n-full-width .ht-notification-wrap {
    padding-left: 30px;
}

.ht-n-left .ht-notification-wrap .ht-n-container, .ht-n-right .ht-notification-wrap .ht-n-container, .ht-n-full-width.ht-n-left .ht-notification-wrap .ht-n-container, .ht-n-full-width.ht-n-right .ht-notification-wrap .ht-n-container {
    padding: 30px;
    position: static;
    padding-top: 18px;
    width: 100% !important;
}
.ht-n-full-width .ht-notification-wrap .ht-n-container, .ht-n-full-width .ht-notification-wrap .ht-n-container {
    max-width: 100%;
    padding: 0 45px;
}

/* Notification Text */
.ht-n-container .ht-notification-text {
    padding: 6px 0;
    float: none;
}
.ht-n-left .ht-notification-text, .ht-n-right .ht-notification-text {
    padding: 0;
}
.ht-notification-text p {
  color: #eceff1;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding-bottom: initial;
}

/* Top Banner Buttons */
.ht-notification-buttons {
    float: right;
}
.ht-n-left .ht-notification-buttons,
.ht-n-right .ht-notification-buttons {
    float: left;
    margin-top: 0px;
}
.ht-notification-buttons .ht-n-btn {
    border: 1px solid #8dc642;
    background-color: #8dc642;
    border-radius: 4px;
    color: #ffffff;
    float: left;
    display: inline-block!important;
    font-family: inherit;
    font-size: 12px!important;
    font-weight: 500;
    height: 40px!important;
    letter-spacing: 0.4px;
    line-height: 24px!important;
    margin: 0;
    padding: 8px 26px!important;
    text-transform: uppercase;
    vertical-align: top;
}
.ht-notification-buttons .ht-n-btn:hover {
    color: #ffffff;
    opacity: 0.9;
}

/* Top Banner Close Toggle */
.ht-n-close-toggle {
	background-color: transparent;
	border: medium none;
	color: #ffffff;
	display: block;
	height: 26px;
	margin: 7px 0 7px 25px;
	padding: 5px 0;
	text-align: center;
    float: left;
    border-radius: 0;
    font-weight: normal;
}
.ht-n-top .ht-notification-buttons,
.ht-n-bottom .ht-notification-buttons{
   position: absolute;
   right: 10px;
   width: 30px;
   text-align: center;
   z-index: 99999;
}
.ht-n-top .ht-n-close-toggle,
.ht-n-bottom .ht-n-close-toggle{
    position: inherit;
    margin: 0;
    z-index: 99999;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    right: 12px;
}
.ht-n-top .ht-n-close-toggle i,
.ht-n-bottom .ht-n-close-toggle i{
    float: none;
}

.ht-n-left .ht-n-close-toggle, .ht-n-right .ht-n-close-toggle {
  background-color: #ff5733;
  color: #fff;
  left: auto;
  margin: 0;
  padding: 6px 10px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}
.ht-n-left .ht-n-close-toggle::before, .ht-n-right .ht-n-close-toggle::before {
	content: attr(data-text);
    float: left;
    line-height: 15px;
    font-size: 12px;
    margin-right: 5px;
    text-transform: capitalize;
}
.ht-n-left .ht-n-close-toggle {
  left: auto;
  right: 0;
}
.ht-n-right .ht-n-close-toggle {
	left: 0px;
    right: auto;
}
.ht-n-close-toggle:hover {
    color: #f15b65;
    background: #fff;
}
.ht-n-close-toggle i {
    display: block;
    line-height: 16px;
    font-size: 16px;
    float: left;
    color: #fff;
}
.ht-n-left .ht-n-close-toggle i, .ht-n-right .ht-n-close-toggle i {
  color: #fff;
}
.ht-n-close-toggle:hover i{
    color: #fff;
}

.ht-n-left .ht-n-close-toggle:hover i,
.ht-n-right .ht-n-close-toggle:hover i{
    color: #f15b65;
}


.ht-n-top .ht-n-close-toggle:hover,
.ht-n-bottom .ht-n-close-toggle:hover{
    background: inherit;
}

/* Top Banner Open Toggle */
.ht-n-open-toggle {
  display: block;
  background-color: #ff5733;
  border: medium none;
  border-radius: 0 0 4px 4px;
  color: #fff;
  position: absolute;
  right: 20px;
  text-align: center;
  top: -30px;
  transition: all 0.3s ease 0s;
  padding: 0;
  z-index: 99999;
  cursor: pointer;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ht-n-open-toggle i {
    display: block;
    font-size: 18px;
    line-height: 30px;

}
.ht-n-open-toggle span {
    display: block;
    line-height: 20px;
    text-transform: none;
    padding: 0 5px;
}
.ht-n-open .ht-n-open-toggle {
    opacity: 0;
    visibility: hidden;
}
.ht-n-close .ht-n-open-toggle {
    opacity: 1;
    visibility: visible;
}

/*-- Position --*/

/*Top*/
.ht-notification-section.ht-n-top .ht-n-open-toggle {
    border-radius: 0 0 4px 4px;
    top: -31px;
    bottom: auto;
}
.ht-notification-section.ht-n-top .ht-n-open-toggle.ht-n-active {
    top: 0;
}
/*Bottom*/
.ht-notification-section.ht-n-bottom .ht-n-open-toggle {
    border-radius: 4px 4px 0 0;
    bottom: -31px;
    top: auto;
}
.ht-notification-section.ht-n-bottom .ht-n-open-toggle.ht-n-active {
    bottom: 0;
}
/*Left*/
.ht-notification-section.ht-n-left .ht-n-open-toggle {
    border-radius: 0 4px 4px 0;
    left: 100%;
    right: auto;
    top: 30px;
    width: 0;
    opacity: 0;
}
.ht-notification-section.ht-n-left .ht-n-open-toggle.ht-n-active {
    opacity: 1;
}
/*Right*/
.ht-notification-section.ht-n-right .ht-n-open-toggle {
    border-radius: 4px 0 0 4px;
    right: 100%;
    left: auto;
    top: 30px;
    width: 0;
    opacity: 0;
}
.ht-notification-section.ht-n-right .ht-n-open-toggle.ht-n-active {
    width: 30px;
    opacity: 1;
}
.ht-notification-section .ht-n-open-toggle.has_text.ht-n-active{
  width: auto;
  padding: 5px;
  font-size: 13px;
  line-height: 125%;
  height: auto;
  min-width: 30px;
  min-height: 30px;
  white-space: nowrap;
}


/* desktop :992px. */
@media only screen and (min-width: 992px) and (max-width: 1169px) {

/* Notification Text */
.ht-notification-text {
    max-width: 730px;
}

}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.ht-notification-section {
  -webkit-background-size: cover;
  background-size: cover;
}
.ht-notification-text {
  max-width: 500px;
  padding: 0;
}

}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
.ht-notification-section {
  -webkit-background-size: cover;
  background-size: cover;
}
.ht-notification-buttons {
  float: left;
}
.ht-notification-buttons .ht-n-btn {
  font-size: 10px !important;
  height: 32px !important;
  margin-right: 10px;
  padding: 4px 15px !important;
  width: auto;
}
.ht-n-close-toggle {
  margin: 3px 0 3px 25px;
}

}

/* small mobile :320px. */
@media only screen and (max-width: 479px) {

}


/*custom styes*/
.ht-notification-text .ht_btn.style_2 {
  background: #ff5733 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
  padding: 5px 15px;
}
.ht-notification-text .ht_btn.style_2:hover{
    background:rgba(255,87,51,.8);
    color: #fff;
}



.ht-notification-section .ht_notification_newsletter > h2 {
  color: #fff;
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
}
.ht-notification-section .ht_notification_newsletter > p {
  display: block!important;
  margin-bottom: 14px!important;
}
.ht-notification-section .ht_notification_newsletter input[type="email"] {
  background: #fff none repeat scroll 0 0;
  border: 0 none;
  border-radius: 3px;
  box-shadow: none;
  color: #000;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 10px;
  width: 100%;
}
.ht-notification-section .ht_notification_newsletter input[type="submit"] {
  background: #ff5733 none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  height: inherit;
  max-width: inherit;
  min-width: inherit;
  padding: 12px 25px;
  width: inherit;
  line-height: 1;
}
.ht-notification-section .ht_notification_newsletter input[type="submit"]:hover{background:rgba(255,87,51,.8) }
.ht-notification-section .ht_btn.style_1 {
  background: #fdd835;
  color: #000;
  padding: 4px 10px;
  border-radius: 3px;
  text-decoration: none;
}
.ht-notification-section .mc4wp-alert.mc4wp-success p {
    line-height: 150%;
}



/*   tou       frontend.min.css  */


#wp-user-profile-avatar-errors,#wp-user-profile-avatar-readable-size-error,.wp-user-profile-avatar-error{color:#c00!important;font-weight:700!important}#wp-user-profile-avatar-readable-size-success,#wp-user-profile-avatar-success,.wp-user-profile-avatar-success{color:#179a17!important;font-weight:700!important}#wp-user-profile-avatar-readable-size-error,#wp_user_profile_avatar_undo_button{display:none}#wp_user_profile_avatar_preview,#wp_user_profile_avatar_preview-existing{margin-right:10px}#wp_user_profile_avatar_preview,#wp_user_profile_avatar_preview-existing,#wp_user_profile_avatar_thumbnail,#wp_user_profile_avatar_thumbnail-existing{display:inline-block;text-align:center;vertical-align:top}#wp_user_profile_avatar_preview img,#wp_user_profile_avatar_preview-existing img,#wp_user_profile_avatar_thumbnail img,#wp_user_profile_avatar_thumbnail-existing img{max-height:96px;border:1px solid #dfdfdf;display:block}.widget_wp_user_profile_avatar #wp_user_profile_avatar_preview img,.widget_wp_user_profile_avatar #wp_user_profile_avatar_preview-existing img,.widget_wp_user_profile_avatar #wp_user_profile_avatar_thumbnail img,.widget_wp_user_profile_avatar #wp_user_profile_avatar_thumbnail-existing img{max-height:64px}.defaultavatarpicker #wp_user_profile_avatar_preview,.defaultavatarpicker #wp_user_profile_avatar_preview-existing{width:32px;height:32px;margin-right:0;display:inline-block;overflow:hidden;vertical-align:middle}.defaultavatarpicker #wp_user_profile_avatar_preview img,.defaultavatarpicker #wp_user_profile_avatar_preview-existing img{width:32px;height:auto;border:0}#wp-user-profile-avatar-edit #wp_user_profile_avatar_remove,#wp-user-profile-avatar-edit #wp_user_profile_avatar_undo,#wp-user-profile-avatar-edit-attachment{margin-left:10px!important}#wp-user-profile-avatar-slider{width:22.75em}#wp-user-profile-avatar-upload-messages span{display:block}.wp-user-profile-avatar-hide{display:none!important}.wp-user-profile-avatar-no-avatars{display:none}.wp-user-profile-avatar .alignleft{float:left;margin:.3rem 2rem 2rem 2rem}.wp-user-profile-avatar .alignright{float:right;margin:.3rem 0 2rem 2rem}.wp-user-profile-avatar .aligncenter{margin-bottom:4rem;margin-top:4rem;margin-left:auto;margin-right:auto;text-align:center}.wp-user-profile-avatar .alignnone{margin-bottom:4rem;margin-top:4rem;margin-left:auto;margin-right:auto;text-align:center}



/*   tg       usp.css  */


/* 
	User Submitted Posts : CSS : USP Form
	@ https://perishablepress.com/user-submitted-posts/
	Complete list of CSS selectors @ https://m0n.co/e
*/

div#user-submitted-posts { width: 100%; max-width: 800px; overflow: hidden; }
div#user-submitted-posts form { box-sizing: border-box; margin: 10px 0; padding: 5px; }
div#user-submitted-posts fieldset { box-sizing: border-box; margin: 10px 0; padding: 0; border: 0; }

div#user-submitted-posts fieldset label           { box-sizing: border-box; display: block; float: none; clear: both; width: 80%;  margin: 0; padding: 0; border: 0; font-size: 90%; }
div#user-submitted-posts fieldset input.usp-input { box-sizing: border-box; display: block; float: none; clear: both; width: 80%;  margin: 0; }
div#user-submitted-posts textarea.usp-textarea    { box-sizing: border-box; display: block; float: none; clear: both; width: 100%; margin: 0; }
div#user-submitted-posts select                   { box-sizing: border-box; display: block; float: none; clear: both; width: auto; margin: 0; }

div#user-submitted-posts select.usp-multiple { width: 80%; }

div#user-submitted-posts .usp-cat-child { text-indent: 20px; }
div#user-submitted-posts .usp-cat-grand { text-indent: 40px; }
div#user-submitted-posts .usp-cat-great { text-indent: 60px; }
div#user-submitted-posts .usp-cat-great-great { text-indent: 80px; }

div#user-submitted-posts div.usp_text-editor { margin: 20px 0 0 0;  }
div#user-submitted-posts div.wp-editor-container { border: 1px solid #e5e5e5; }

div#user-submitted-posts fieldset.usp-images { margin: 25px 0; }
div#user-submitted-posts div#usp-upload-message { font-size: 90%; }
div#user-submitted-posts fieldset input.usp-input.usp-clone { margin: 10px 0 0 0; font-size: 90%; }
div#user-submitted-posts a#usp_add-another { display: inline-block; clear: both; margin: 10px 0 0 0; font-size: 90%; }
div#user-submitted-posts div#usp-submit { margin: 20px 0; }

div#user-submitted-posts div.usp-error { color: #cc3333; }
div#user-submitted-posts div#usp-error-message { margin: 0 0 20px 0; }
div#user-submitted-posts div#usp-error-message.usp-callout-failure { color: #cc3333; }
div#user-submitted-posts div#usp-success-message { margin: 0 0 20px 0; font-weight: bold; }

div#user-submitted-posts fieldset.usp-checkbox { padding: 5px 0; }
div#user-submitted-posts fieldset.usp-checkbox input { display: inline-block; vertical-align: middle; position: relative; top: -2px; }
div#user-submitted-posts fieldset.usp-checkbox label { display: inline-block; vertical-align: middle; }

.usp-hidden, .usp-no-js { display: none; }
.usp-js { display: block; }

/* Parsley */

div#user-submitted-posts ul.parsley-errors-list { display: none; list-style-type: none; }
div#user-submitted-posts ul.parsley-errors-list.filled { display: block; float: none; clear: both; margin: 0; padding: 0; font-size: 12px; line-height: 18px; }
div#user-submitted-posts ul.parsley-errors-list.filled li.parsley-required,
div#user-submitted-posts ul.parsley-errors-list.filled li.parsley-type { display: inline-block; margin: 0; padding: 5px 10px; color: #fff; background-color: #cc3333; }

/* Chosen Custom */
div#user-submitted-posts .chosen-container[style] { box-sizing: border-box; display: block; float: none; clear: both; width: 80% !important; margin: 0; }
div#user-submitted-posts .chosen-container-multi .chosen-choices li.search-choice .search-choice-close { text-decoration: none; border: none; padding: 0; box-shadow: none; }

/* Chosen v1.8.7 https://github.com/harvesthq/chosen by Patrick Filler - MIT License */
.chosen-container{position:relative;display:inline-block;vertical-align:middle;font-size:13px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.chosen-container *{-webkit-box-sizing:border-box;box-sizing:border-box}.chosen-container .chosen-drop{position:absolute;top:100%;z-index:1010;width:100%;border:1px solid #aaa;border-top:0;background:#fff;-webkit-box-shadow:0 4px 5px rgba(0,0,0,.15);box-shadow:0 4px 5px rgba(0,0,0,.15);clip:rect(0,0,0,0);-webkit-clip-path:inset(100% 100%);clip-path:inset(100% 100%)}.chosen-container.chosen-with-drop .chosen-drop{clip:auto;-webkit-clip-path:none;clip-path:none}.chosen-container a{cursor:pointer}.chosen-container .chosen-single .group-name,.chosen-container .search-choice .group-name{margin-right:4px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-weight:400;color:#999}.chosen-container .chosen-single .group-name:after,.chosen-container .search-choice .group-name:after{content:":";padding-left:2px;vertical-align:top}.chosen-container-single .chosen-single{position:relative;display:block;overflow:hidden;padding:0 0 0 8px;height:25px;border:1px solid #aaa;border-radius:5px;background-color:#fff;background:-webkit-gradient(linear,left top,left bottom,color-stop(20%,#fff),color-stop(50%,#f6f6f6),color-stop(52%,#eee),to(#f4f4f4));background:linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);background-clip:padding-box;-webkit-box-shadow:0 0 3px #fff inset,0 1px 1px rgba(0,0,0,.1);box-shadow:0 0 3px #fff inset,0 1px 1px rgba(0,0,0,.1);color:#444;text-decoration:none;white-space:nowrap;line-height:24px}.chosen-container-single .chosen-default{color:#999}.chosen-container-single .chosen-single span{display:block;overflow:hidden;margin-right:26px;text-overflow:ellipsis;white-space:nowrap}.chosen-container-single .chosen-single-with-deselect span{margin-right:38px}.chosen-container-single .chosen-single abbr{position:absolute;top:6px;right:26px;display:block;width:12px;height:12px;background:url(chosen-sprite.png) -42px 1px no-repeat;font-size:1px}.chosen-container-single .chosen-single abbr:hover{background-position:-42px -10px}.chosen-container-single.chosen-disabled .chosen-single abbr:hover{background-position:-42px -10px}.chosen-container-single .chosen-single div{position:absolute;top:0;right:0;display:block;width:18px;height:100%}.chosen-container-single .chosen-single div b{display:block;width:100%;height:100%;background:url(chosen-sprite.png) no-repeat 0 2px}.chosen-container-single .chosen-search{position:relative;z-index:1010;margin:0;padding:3px 4px;white-space:nowrap}.chosen-container-single .chosen-search input[type=text]{margin:1px 0;padding:4px 20px 4px 5px;width:100%;height:auto;outline:0;border:1px solid #aaa;background:url(chosen-sprite.png) no-repeat 100% -20px;font-size:1em;font-family:sans-serif;line-height:normal;border-radius:0}.chosen-container-single .chosen-drop{margin-top:-1px;border-radius:0 0 4px 4px;background-clip:padding-box}.chosen-container-single.chosen-container-single-nosearch .chosen-search{position:absolute;clip:rect(0,0,0,0);-webkit-clip-path:inset(100% 100%);clip-path:inset(100% 100%)}.chosen-container .chosen-results{color:#444;position:relative;overflow-x:hidden;overflow-y:auto;margin:0 4px 4px 0;padding:0 0 0 4px;max-height:240px;-webkit-overflow-scrolling:touch}.chosen-container .chosen-results li{display:none;margin:0;padding:5px 6px;list-style:none;line-height:15px;word-wrap:break-word;-webkit-touch-callout:none}.chosen-container .chosen-results li.active-result{display:list-item;cursor:pointer}.chosen-container .chosen-results li.disabled-result{display:list-item;color:#ccc;cursor:default}.chosen-container .chosen-results li.highlighted{background-color:#3875d7;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(20%,#3875d7),color-stop(90%,#2a62bc));background-image:linear-gradient(#3875d7 20%,#2a62bc 90%);color:#fff}.chosen-container .chosen-results li.no-results{color:#777;display:list-item;background:#f4f4f4}.chosen-container .chosen-results li.group-result{display:list-item;font-weight:700;cursor:default}.chosen-container .chosen-results li.group-option{padding-left:15px}.chosen-container .chosen-results li em{font-style:normal;text-decoration:underline}.chosen-container-multi .chosen-choices{position:relative;overflow:hidden;margin:0;padding:0 5px;width:100%;height:auto;border:1px solid #aaa;background-color:#fff;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(1%,#eee),color-stop(15%,#fff));background-image:linear-gradient(#eee 1%,#fff 15%);cursor:text}.chosen-container-multi .chosen-choices li{float:left;list-style:none}.chosen-container-multi .chosen-choices li.search-field{margin:0;padding:0;white-space:nowrap}.chosen-container-multi .chosen-choices li.search-field input[type=text]{margin:1px 0;padding:0;height:25px;outline:0;border:0!important;background:0 0!important;-webkit-box-shadow:none;box-shadow:none;color:#999;font-size:100%;font-family:sans-serif;line-height:normal;border-radius:0;width:25px}.chosen-container-multi .chosen-choices li.search-choice{position:relative;margin:3px 5px 3px 0;padding:3px 20px 3px 5px;border:1px solid #aaa;max-width:100%;border-radius:3px;background-color:#eee;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),to(#eee));background-image:linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-size:100% 19px;background-repeat:repeat-x;background-clip:padding-box;-webkit-box-shadow:0 0 2px #fff inset,0 1px 0 rgba(0,0,0,.05);box-shadow:0 0 2px #fff inset,0 1px 0 rgba(0,0,0,.05);color:#333;line-height:13px;cursor:default}.chosen-container-multi .chosen-choices li.search-choice span{word-wrap:break-word}.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{position:absolute;top:4px;right:3px;display:block;width:12px;height:12px;background:url(chosen-sprite.png) -42px 1px no-repeat;font-size:1px}.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover{background-position:-42px -10px}.chosen-container-multi .chosen-choices li.search-choice-disabled{padding-right:5px;border:1px solid #ccc;background-color:#e4e4e4;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),to(#eee));background-image:linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);color:#666}.chosen-container-multi .chosen-choices li.search-choice-focus{background:#d4d4d4}.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close{background-position:-42px -10px}.chosen-container-multi .chosen-results{margin:0;padding:0}.chosen-container-multi .chosen-drop .result-selected{display:list-item;color:#ccc;cursor:default}.chosen-container-active .chosen-single{border:1px solid #5897fb;-webkit-box-shadow:0 0 5px rgba(0,0,0,.3);box-shadow:0 0 5px rgba(0,0,0,.3)}.chosen-container-active.chosen-with-drop .chosen-single{border:1px solid #aaa;border-bottom-right-radius:0;border-bottom-left-radius:0;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(20%,#eee),color-stop(80%,#fff));background-image:linear-gradient(#eee 20%,#fff 80%);-webkit-box-shadow:0 1px 0 #fff inset;box-shadow:0 1px 0 #fff inset}.chosen-container-active.chosen-with-drop .chosen-single div{border-left:none;background:0 0}.chosen-container-active.chosen-with-drop .chosen-single div b{background-position:-18px 2px}.chosen-container-active .chosen-choices{border:1px solid #5897fb;-webkit-box-shadow:0 0 5px rgba(0,0,0,.3);box-shadow:0 0 5px rgba(0,0,0,.3)}.chosen-container-active .chosen-choices li.search-field input[type=text]{color:#222!important}.chosen-disabled{opacity:.5!important;cursor:default}.chosen-disabled .chosen-single{cursor:default}.chosen-disabled .chosen-choices .search-choice .search-choice-close{cursor:default}.chosen-rtl{text-align:right}.chosen-rtl .chosen-single{overflow:visible;padding:0 8px 0 0}.chosen-rtl .chosen-single span{margin-right:0;margin-left:26px;direction:rtl}.chosen-rtl .chosen-single-with-deselect span{margin-left:38px}.chosen-rtl .chosen-single div{right:auto;left:3px}.chosen-rtl .chosen-single abbr{right:auto;left:26px}.chosen-rtl .chosen-choices li{float:right}.chosen-rtl .chosen-choices li.search-field input[type=text]{direction:rtl}.chosen-rtl .chosen-choices li.search-choice{margin:3px 5px 3px 0;padding:3px 5px 3px 19px}.chosen-rtl .chosen-choices li.search-choice .search-choice-close{right:auto;left:4px}.chosen-rtl.chosen-container-single .chosen-results{margin:0 0 4px 4px;padding:0 4px 0 0}.chosen-rtl .chosen-results li.group-option{padding-right:15px;padding-left:0}.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div{border-right:none}.chosen-rtl .chosen-search input[type=text]{padding:4px 5px 4px 20px;background:url(chosen-sprite.png) no-repeat -30px -20px;direction:rtl}.chosen-rtl.chosen-container-single .chosen-single div b{background-position:6px 2px}.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b{background-position:-12px 2px}@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi),only screen and (min-resolution:1.5dppx){.chosen-container .chosen-results-scroll-down span,.chosen-container .chosen-results-scroll-up span,.chosen-container-multi .chosen-choices .search-choice .search-choice-close,.chosen-container-single .chosen-search input[type=text],.chosen-container-single .chosen-single abbr,.chosen-container-single .chosen-single div b,.chosen-rtl .chosen-search input[type=text]{background-image:url(chosen-sprite@2x.png)!important;background-size:52px 37px!important;background-repeat:no-repeat!important}}



/*   noce       blocks.style.build.css  */


/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/
/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.wp-block-hashbar-hashbar-button p {
  display: inline-block; }

.hashbar-free-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.has-text-align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.has-text-align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.has-text-align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
















